<!DOCTYPE html>
<html lang="en">


    <head>
        <title>Page not found</title>
        <%- include("common") %>
    </head>


    <body> 
        <%- include("navbar") %>
        <div class="d-flex align-items-center justify-content-center" style="min-height: 90vh;">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Oops!</span> Page not found.</p>
                <p class="lead">
                    The page you’re looking for doesn’t exist.
                  </p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </body>


</html>