<!DOCTYPE html>
<html lang="en">
<head>
    <title>About me</title>
    <%- include("common") %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <%- include("navbar") %>
    <div class="mx-auto my-4" style="width: 85%;">
        <h4>About me</h4>
        <p>Welcome to Java CS!</p>
        <p>My name is Harshit Srivastava, a class 12 ISC student who is passionate about computer science and programming. This website is dedicated to providing solutions to ISC computer science programs.</p>
        <p>Feel free to connect with me on the following platforms:</p>
        <ul class="list-group">
            <a class="link-dark text-decoration-none" href="https://www.linkedin.com/in/harshit-srivastava-b7379b273/" target="blank"><li class="list-group-item"><i class="bi bi-linkedin"></i> LinkedIn</li></a>
            <a class="link-dark text-decoration-none" href="https://github.com/HarshitSrivastavaHS" target="blank"><li class="list-group-item"><i class="bi bi-github"></i> GitHub</li></a>
            <a class="link-dark text-decoration-none" href="https://discord.com/users/451693463742840842" target="blank"><li class="list-group-item"><i class="bi bi-discord"></i> Discord</li></a>
            
          </ul>


      </div>
</body>
</html>